.fiblock {
    margin-right: 10px;
    background-color: rgb(170, 12, 12);
}

.twblock {
    margin-right: 10px;
    background: linear-gradient(to bottom, rgb(10, 10, 139), pink);
}

.trblock {
    margin-right: 10px;
    background: linear-gradient(to right, rgb(31, 31, 31), purple);
}
.foblock {
    background: linear-gradient(to bottom, red, rgb(31, 31, 31));
}

.fiblock,
.twblock,
.trblock,
.foblock {
    border:1px solid black;
    width: 400px;
    height: 190px;
    border-radius: 15px;
}

.content {
    flex-direction: row;
    display: flex;
}

.title {
    color: azure;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    font: 150% sans-serif;
}

h4 {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    font: 100% sans-serif;
}

.f4,
.f1,
.f3,
.f2  {
    margin-top: -100px;
}
.content2 {
    flex-direction: row;
    display: flex;
}
.content3 {
    flex-direction: row;
    display: flex;
}
s